*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #00000038;
}
header{
    background-color: #093164;
    padding: 20px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    text-align: center;
    background-color: #093164;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #004AAD;
    padding: 10px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white; 
}
nav a:hover{
    background-color: #00C2CB;
    border-radius: 20px;
    padding: 10px;
    transition-duration: 0.5s;
}

.principal{
    text-align: center;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-indent: 10px;
}
main section{
    background-color: #81737348;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100px;
    max-height:100px;
    align-items: center;
    display: inline-block;
    margin: 10px;
}
ul{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif; 
    padding-top: 5px;
    padding-bottom: 5PX;
}
footer{
    background-color: #093164;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}
.rodape{
    text-align: center;
}

